<div class="container">
  <div class="row">
    <div class="col-md-12 center">
      <h1>Welcome to my Blog</h1>
      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque metus eget quam mollis ullamcorper. Sed ultricies nisi a odio dictum, quis dapibus tellus pharetra. Ut sit amet ex velit. Donec id nulla vel erat consequat volutpat a eu purus. Pellentesque in enim in diam auctor suscipit. Nullam id mollis ipsum.</p>
      <%= link_to 'Sign Up!', signup_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
