<div class="container mt-4">
  <div class="row">
    <h1>Create Category</h1>
  </div>
  <div class="row">
    <%= render 'form' %>
  </div>
  <%= link_to '[ Cancel and return to Articles ]', articles_path %>
</div>
